<% content_for :title, "Nuevo comentario" %>

<section class="section">
  <div class="container">
    <h1 class="title">Nuevo comentario</h1>

    <%= render "form", comment: @comment, post: @post %> <!-- Paso el @post al formulario -->

    <div class="mt-4">
      <%= link_to "Volver al post", post_path(@post), class: "button is-link" %> <!-- Enlace para volver al post -->
    </div>
  </div>
</section>
