<% content_for :title, "New post" %>
<section class="section">
  <div class="container">
    <h1 class="title">Nuevo Post</h1>

    <%= render "form", post: @post %>

    <br>

    <div>
      <%= link_to "Volver a los Posts", posts_path %>
    </div>
  </div>
</section>