<%= render partial: 'post', locals: { post: @post, mostrar_comentarios: true } %>

<div class="buttons mt-4">
  <%= link_to "Volver a Posts", posts_path, class: "button is-light" %>

  <% if current_user&.admin? %>
    <%= link_to "Editar este Post", edit_post_path(@post), class: "button is-primary" %>
    <%= button_to "Eliminar este Post", @post, method: :delete, data: { confirm: "¿Estás seguro de eliminar este post?" }, class: "button is-danger" %>
  <% end %>
</div>

